.login-page {
    height: calc(100vh + 30px);
    margin: 0;
    margin-top: -30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #F4F2FF, #EAECFF);
    width: 100vw;
    overflow: hidden;
}

.login-page-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.back-link-container {
    display: flex;
}

.back-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 15px;
}

.back-link-text {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.login-container {
    background-color: #fff;
    padding: 34px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: -10px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    text-align: center;
}

.form-group {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 8px;
}

.form-head-txt {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

input[type="email"],
input[type="password"] {
    height: 20px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
        font-size: 14px;
        color: #333;
        font-weight: 600;
    }
}

.forgot-password {
    font-size: 14px;
    color: #007BFF;
    font-weight: 600;
    text-decoration: none;
}

.sign-in-btn {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 4px;
    accent-color: #000;
}

.sign-in-btn:hover {
    background-color: #333;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.half-divider {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.divider-txt {
    font-size: 14px;
    color: #666;
    font-weight: 400;
}

.google-btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: #f5f5f5;
}

.signup-link {
    font-size: 14px;
    color: #666;
    font-weight: 400;
}

.signup-link-txt {
    color: #007BFF;
    font-weight: 600;
    text-decoration: none;
}

.tnm-credit {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    text-align: center;
}